@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@media (max-width: 576px) {
  .nav-item {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }
  .nav-item .nav-link {
    margin: 0px !important;
    padding: 0px;
    font-size: 20px;
  }
  .hero {
    background-position: center;
  }
  .hero h2 {
    font-size: 5.25em !important;
  }
  .featured-products h3 {
    margin-top: 16px;
    font-size: 26px;
  }
  .featured-products .col {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .featured-products .col .card {
    margin-bottom: 30px;
  }
  .footer-icons a {
    font-size: 30px;
  }
  .footer-text {
    margin-top: 16px !important;
    font-size: 26px !important;
  }
  #help li a {
    font-size: 16px;
  }
  .products-stock h2 {
    margin: 40px 0px 20px 0px;
    font-size: 36px;
  }
  .products-stock .col {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .about-us-offers {
    background-position: center;
  }
  .about-us-offers .rectangle {
    width: 290px !important;
    height: 650px !important;
  }
  .about-us-offers .rectangle #aboutUsTittle {
    color: #38423B;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 0px;
  }
  .about-us-offers .rectangle .about-us-text {
    font-size: 18px !important;
    margin: 0px 20px !important;
  }
  section .rectangle-log-in {
    margin-top: 20px;
    width: 340px;
    height: 460px;
  }
  section .rectangle-log-in #logInTittle {
    padding-top: 12px;
  }
  section .rectangle-log-in .log-in-account .form-label {
    font-size: 22px;
  }
  section .rectangle-log-in .log-in-account .form-control {
    height: 30px;
  }
  section .rectangle-log-in .log-in-account .account {
    font-size: 15px;
    margin-right: 40px;
  }
  #contact h2 {
    font-size: 36px;
    padding: 0px;
  }
  #contact .contact-row {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  #contact .container-contact {
    width: 500px;
    margin-bottom: 24px;
  }
  #contact .container-contact #contactIcon a {
    font-size: 18px !important;
  }
  #contact .map-contact {
    width: 85%;
    display: flex;
  }
  #contact .map-contact iframe {
    height: 240px !important;
  }
  #cart {
    height: 69vh;
  }
  #cart h2 {
    font-size: 30px;
    margin: 0px !important;
  }
  #cart img {
    width: 150px;
    height: 150px;
  }
  #cart p {
    font-size: 16px;
  }
  #cart .container-buy {
    justify-content: flex-start;
  }
  #eachProduct {
    height: 90vh !important;
  }
  #eachProduct .col {
    justify-content: center;
  }
  #eachProduct .col img {
    width: 305px !important;
    height: 305px !important;
    border-width: 8px !important;
  }
  #eachProduct .col .card-description {
    font-size: 16px !important;
  }
}
.btn {
  color: #2D2D2A;
  background-color: #20FC8F;
  border-color: #20FC8F;
}
.btn:hover {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.button-buy {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #20FC8F;
  border-radius: 12px;
  font-size: 18px;
}
@media (max-width: 576px) {
  .button-buy {
    margin-left: 10px;
  }
}
.button-buy a {
  text-decoration: none;
  color: #000;
}

.log-in-btn {
  width: 80px;
  height: 40px;
  border-radius: 12px;
  background-color: #20FC8F;
  color: #38423B;
  margin: 2px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
}

body {
  background-color: #38423B;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex: 1;
}

.subtitles {
  color: #20FC8F;
  text-align: center;
  font-size: 60px;
  padding: 15px;
  margin-top: 30px;
}

footer {
  background-color: #38423B;
  color: #38423B;
  text-align: center;
  padding: 1rem;
  background-color: #20FC8F;
}
footer .footer-text {
  margin-top: 30px;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-icons {
  display: flex;
  justify-content: center;
}
footer .footer-icons a {
  font-size: 40px;
  color: #38423B;
  margin: 8px;
}
footer .footer-icons img {
  width: 30px;
  height: 30px;
}
footer .help-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .help-footer .footer-text {
  margin-bottom: 10px;
}
footer .help-footer #help {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
footer .help-footer #help li {
  font-size: 20px;
  margin-bottom: 5px;
}
footer .help-footer #help li a {
  text-decoration: none;
  color: #2D2D2A;
}

header {
  background-color: #20FC8F;
}
header .navbar {
  background-color: #20FC8F !important;
}
header .navbar #navbarNav {
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  color: #38423B;
}
header .navbar #navbarNav .navbar-nav {
  background-color: #20FC8F !important;
  padding: 8px;
  font-size: 20px;
  color: #38423B;
}
header .navbar #navbarNav .navbar-nav .nav-item {
  color: #38423B;
  font-size: 24px;
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
}
header .navbar #navbarNav .navbar-nav .nav-item .nav-link {
  margin: 8px;
}

main .about-us-offers {
  background-image: url("../img/banner-about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .about-us-offers #aboutUsTittle {
  color: #38423B;
  text-align: center;
  font-size: 60px;
  padding: 15px;
  margin: 0px;
}
main .about-us-offers .rectangle {
  background-color: rgba(32, 252, 143, 0.8);
  width: auto;
  height: auto;
}
main .about-us-offers .rectangle .about-us-text {
  color: #38423B;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 100px 0px 100px;
}

main #cart {
  height: 59vh;
}
main #cart .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #cart .cart-products {
  background-color: #2D2D2A;
}
main #cart .cart-products img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
main #cart .cart-products p {
  color: #ffffff;
  font-size: 20px;
}
main #cart .cart-products .col {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #cart .container-buy {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin-right: 65px;
}
main #cart #seeProducts {
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  margin-left: 15px;
}

main #eachProduct {
  height: 71vh;
}
main #eachProduct .col {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
main #eachProduct .col img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-top: 50px;
  border: 15px solid;
  color: #000;
  border-radius: 8px;
}
main #eachProduct .col .card-title, main #eachProduct .col .card-text {
  font-size: 26px;
  color: #ffffff;
}
main #eachProduct .col .card-description {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
}

main #contact {
  height: 70vh;
}
main #contact .container-contact {
  background-color: rgba(32, 252, 143, 0.7);
  height: 270px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
main #contact .container-contact #contactIcon {
  display: flex;
  align-items: center;
}
main #contact .container-contact #contactIcon a {
  font-size: 30px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}
main #contact .container-contact #contactIcon a img {
  width: 30px;
  height: 30px;
}
main #contact .container-contact #contactIcon h4 {
  color: #000;
  padding-left: 6px;
  margin-bottom: 0px;
  font-size: 30px;
}
main #contact .map-contact iframe {
  width: 100%;
  height: 100%;
}

main .hero {
  background-image: url("../img/banner-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .hero #typographyColor {
  animation: changeTypographyColor 3s infinite;
}
main .hero h2 {
  color: #20FC8F;
  padding: 20px;
  font-size: 10em;
  text-align: center;
  margin-top: 80px;
}
@media (max-width: 576px) {
  main .hero h2 {
    font-size: 84px !important;
  }
}
main .card {
  background-color: #2D2D2A;
  border: 1px solid #2D2D2A;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 80px;
}
main .card img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
  aspect-ratio: 1/1;
}
main .card img:hover {
  transform: scale(1.2);
}
main .card .card-body {
  color: #ffffff;
}

@keyframes changeTypographyColor {
  0% {
    color: #000;
  }
  25% {
    color: #2D2D2A;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #000;
  }
}
main #logIn {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}
main #logIn .rectangle-log-in {
  background-color: #20FC8F;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 8px;
  border-width: 8px;
  width: 400px;
  height: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
main #logIn .rectangle-log-in #logInTittle {
  color: #000;
  padding-top: 22px;
  font-size: 38px;
  margin-bottom: 0px;
}
main #logIn .rectangle-log-in .log-in-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #logIn .rectangle-log-in .log-in-account .form-label {
  font-size: 24px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 0px;
}
main #logIn .rectangle-log-in .log-in-account .form-control {
  width: 270px;
  height: 36px;
}
main #logIn .rectangle-log-in .log-in-account .account {
  font-size: 20px;
  padding: 20px;
}
main #logIn .rectangle-log-in .log-in-account .account a {
  color: #000;
  text-decoration: none;
  display: flex;
  margin: 6px;
}
main #logIn .rectangle-log-in .log-in-account .account .sign-up-link {
  color: #000;
}

/*# sourceMappingURL=main.css.map */
