main{
    #cart{
        height: 59vh;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .cart-products{
            background-color: $tertiary-color;
            
            img{
                width: 200px;
                height: 200px;
                margin-bottom: 10px;
            }
            p{
                color: $fifth-color;
                font-size: 20px;
            }
            .col{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .container-buy{
            display: flex;
            justify-content: flex-end !important;
            align-items: center;
            margin-right: 65px;
        }
        #seeProducts{
        color: $fifth-color;
        text-decoration: none;
        padding-top: 10px;
        margin-left: 15px;
        }
    }
}