main{
    #eachProduct{
        height: 71vh;
        .col{
            display: flex;
            align-items: center;
            margin-top: 30px;
            img{
                width: 500px;
                height: 500px;
                object-fit: cover;
                margin-top: 50px;
                border: 15px solid;
                color: $fourth-color;
                border-radius: 8px;
            }
            .card-title, .card-text{
                font-size: 26px;
                color: $fifth-color;
            }
            .card-description{
                font-size: 18px;
                color: $fifth-color;
                margin-top: 10px;
            }
        }
    }
}