main{
    #contact{
        height: 70vh;
        .container-contact{
            margin: 20px;
            background-color: rgba(32, 252, 143, 0.7);
            height: 270px;
            display: flex;
            flex-direction: column;
            align-self: center;
            #contactIcon{
                display: flex;
                align-items: center;
                a{
                    font-size: 30px;
                    color: $fourth-color;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    img{
                        @include iconos-social-media;
                    }
                }
                h4{
                    color: $fourth-color;
                    padding-left: 6px;
                    margin-bottom: 0px;
                    font-size: 30px;
                }
            }
        }
        .map-contact iframe{
            width: 100%;
            height: 100%;
        }
    }  
}