@media (max-width:576px){
    //NAVBAR
    .nav-item{
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        .nav-link {
            margin: 4px !important;
            padding: 0px;
        }
    }
    //INDEX
    .hero{
        background-position: center;
        h2{
            font-size: 5.25em !important;
        }
    }
    .featured-products{
        h3{
            margin-top: 16px;
            font-size: 26px;
        }
        .col{
            align-items: center;
            display: flex;
            justify-content: center;
            .card{
                margin-bottom: 30px; 
            }
        }
    }
    //FOOTER
    .footer-icons{
        a{
            font-size: 30px;
        }
    }
    .footer-text{
        margin-top: 16px !important;
        font-size: 26px !important;
    }
    #help li a{
        font-size: 16px;
    }

    
    //PRODUCTS
    .products-stock h2{
        margin: 40px 0px 20px 0px;
        font-size: 36px;
    }
    .products-stock .col{
        align-items: center;
        display: flex;
        justify-content: center;
    }

    //ABOUT US
    .about-us-offers{
        background-position: center;
    }
        #aboutUsTittle{
        color: $secondary-color;
        text-align: center;
        font-size: 30px;
        padding: 10px;
        margin: 0px;
    }
    .rectangle{
        width: 290px !important;
        height: 650px !important;
        .about-us-text{
            font-size: 16px !important;
            margin: 0px 20px !important;
        }
    }

    //LOG IN
    section{
        .rectangle-log-in{
            margin-top: 20px;
            width: 340px;
            height: 460px;
            #logInTittle{
                padding-top: 12px;
            }
            .log-in-account{
                .form-label{
                font-size: 22px;
                }
                .form-control{
                height: 30px;
                }
                .account{
                    font-size: 15px;
                    margin-right: 40px;
                }
            }
        }
    }
    //CONTACT
    #contact{
        h2{
            font-size: 36px;
            padding: 0px;
        }
        .contact-row{
            display: flex;
            flex-direction: column !important;
            align-items: center;
        }
        .container-contact{
            width: 500px;
            margin-bottom: 24px;
            #contactIcon{
                a{
                    font-size: 18px !important;
                }
            }
        }
        .map-contact{
            width: 85%;
            display: flex;
            iframe{
                height: 240px !important;
            }
        }
    }
    //CART
    .subtitles{
        font-size: 36px;
        margin: 0px;
    }
    #cart{
        height: 69vh;
        img{
            width: 150px;
            height: 150px;
        }
        p{
            font-size: 16px;
        }
        .container-buy{
            justify-content: flex-start;
        }
    }

    //CATALOGUE
    #eachProduct{
        height: 90vh !important;
            .col{
                justify-content: center;
                img{
                width: 305px !important;
                height: 305px !important;
                border-width: 8px !important;
                }
                .card-description{
                    font-size: 16px !important;
                }
            }
        }
}
