// Colors
$primary-color: #20FC8F;
$secondary-color: #38423B;
$tertiary-color: #2D2D2A;
$fourth-color: #000;
$fifth-color: #ffffff;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');